{
  "clusterName" : "{{ cluster_display_name }}",
  "hosts" : [
    {% set host_joiner = joiner(",") %}
    {% for host in groups['cdh_servers'] %}
    {% if 'host_template' in hostvars[host] %}
    {{ host_joiner() }}
    {
      "hostName" : "{{ scm_hosts['names'][host] }}",
      "hostTemplateRefName" : "{{ hostvars[host]['host_template'] }}"
      {% if 'role_ref_names' in hostvars[host] %}
      ,"roleRefNames" : [ "{{ hostvars[host]['role_ref_names'] }}" ]
      {% endif %}
      {%- if 'rack_id' in hostvars[host] -%}
      ,"rackId" : [ "{{ hostvars[host]['rack_id'] }}" ]
      {%- endif -%}
    }
    {% endif %}
    {% endfor %}
  ],
  "variables" : [
  {% set var_joiner = joiner(",") %}
  {% for item in cdh_services %}
    {% for (k,v) in item.items() %}
      {% if not k|lower == 'type' %}
      {{ var_joiner() }}
      {
        "name": "{{ k|upper }}",
        "value": "{{ v }}"
      }
      {% endif %}
    {% endfor %}
  {% endfor %}
  ]
  {%- if krb5_kdc_type != 'none'
        and cluster_version_cm_major | int >= 6 -%}
  , "enableKerberos": {
    {%- if cluster.security.tls | default(false) -%}
    "datanodeTransceiverPort": 9866,
    "datanodeWebPort": 9864
    {%- else -%}
    "datanodeTransceiverPort": 1004,
    "datanodeWebPort": 1006
    {%- endif -%}
  }
}
